.container {
    margin-top: 7.5%;
    background-color: #ba247c;
    color: white;
}

h1 {
    text-align: center;
}

.creation,
.maj {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Press {
    display: flex;
    margin-top: 5%;
    margin-left: 25%;
    gap: 15%;
    /* align-items: center; */
}

.Press .text {
    min-width: 25%;
}

.Press img {
    width: 45%;
}

#img3 {
    width: 80%;
}

#img4 {
    width: 49.5%;
}

#img2 {
    margin-left: 15%;
}

h3 {
    text-decoration: underline;
}

/* .footer:after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 57%;
    background: rgba(0, 0, 0, .8) url(./a-filigrane.png) right bottom no-repeat;
    position: absolute;
    background-size: cover;
} */

x {
    font-size: 10px;
    text-align: start;
}

.pictures2 {
    justify-self: center;
}