.container {
    margin-top: 7.2%;
    background-color: #ba247c;
    color: white;
    height: 100%;
}

h1 {
    text-align: center;
}

.creation,
.maj {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Press {
    display: flex;
    margin-left: 15%;
    gap: 30%;
}

.Press .text {
    min-width: 25%;
}

.Press .pictures {
    display: flex;
    flex-direction: column;
}

.Press img {
    width: 60%;
}

h3 {
    text-decoration: underline;
}

/* .footer {
    padding: 100px;
} */