.container {
    display: flex;
    flex-direction: column;
}

.Press {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 7%;
    background-color: #d3067c;
    color: white;
    /* height: 300px; */
    align-items: center;
    /* height: 70rem; */
}

.articles {
    margin-top: 2%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25%;
}

.article {
    text-align: center;
}

.article img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.article p {
    margin-top: 10px;
    font-size: 1.2em;
}

.article img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* .Press {
    display: flex;
    margin-left: 15%;
    gap: 20%;
} */

.Press .text {
    min-width: 25%;
}

.Press img {
    width: 40%;
}

h4 {
    text-decoration: underline;
}