.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    height: 160vh;
    background-color: rgb(51, 117, 184);
}

.Press {
    text-align: center;
    margin-top: 7%;
    background-color: #d3067c;
    color: white;
}

.Press h3 {
    width: 80%;
    margin-left: 11%;
}

.articles {
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15%;
}

.article {
    text-align: center;
    background-color: #d3067c;
    width: fit-content;
    transition: transform 0.3s ease;
}

.article img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.article p {
    margin-top: 10px;
    font-size: 1.2em;
}

.article:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.article a:link {
    color: white;
    text-decoration: none;
}

.article a:visited {
    color: white;
    text-decoration: none;
}

#img1 {
    height: 262px;
    width: 350px;
}