@font-face {
    font-family: "Lombax";
    src: url("../assets/fonts/Lombax.ttf") format("truetype");
}
@font-face {
    font-family: "Sheikah";
    src: url("../assets/fonts/botw-hylian.ttf") format("truetype");
}
@font-face {
    font-family: "Hylia";
    src: url("../assets/fonts/HyliaSerif.ttf") format("truetype");
}
@font-face {
    font-family: "Wumpa";
    src: url("../assets/fonts/Crash\ Bandicoot\ Wumpa.ttf") format("truetype");
}
@font-face {
    font-family: "Mario";
    src: url("../assets/fonts/supermario.ttf") format("truetype");
}
@font-face {
    font-family: "Kh";
    src: url("../assets/fonts/Kingdom_Hearts_Font.ttf") format("truetype");
}
nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width:90%;
    margin:auto;
    padding: 2rem;
}
nav ul{
    display: flex;
    flex: 2 1 30rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 15rem;
}

.title{
    font-family: "Hylia";
    font-size: 50pt;
}
.line{
    font-family: "Hylia";
}