@font-face {
    font-family: "Lombax";
    src: url("../assets/fonts/Lombax.ttf") format("truetype");
}
@font-face {
    font-family: "Sheikah";
    src: url("../assets/fonts/botw-hylian.ttf") format("truetype");
}
@font-face {
    font-family: "Hylia";
    src: url("../assets/fonts/HyliaSerif.ttf") format("truetype");
}
@font-face {
    font-family: "Wumpa";
    src: url("../assets/fonts/Crash\ Bandicoot\ Wumpa.ttf") format("truetype");
}
@font-face {
    font-family: "Mario";
    src: url("../assets/fonts/supermario.ttf") format("truetype");
}
@font-face {
    font-family: "Kh";
    src: url("../assets/fonts/Kingdom_Hearts_Font.ttf") format("truetype");
}
nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width:90%;
    margin:auto;
    padding: 2rem;
}
nav ul{
    display: flex;
    flex: 2 1 30rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 15rem;
}
.title{
    font-family: "Kh";
    font-size: 100pt;
}
.photo{
    width: 200px;
    height: 200px;
}
.infos1{
    display: inline-flex;
    justify-content: space-around;
    vertical-align: top;
    text-align: justify;
    margin-left: 0rem;
    
}
.FirstName{
    justify-content: space-between;
    margin-left: 2rem;   
}
.LastName{
    margin-top: 2rem;
    margin-left: -6.5rem;
}
.Birthdate{
    margin-top: 4rem;
    margin-left: -7rem;
}
.EstablishName{
    margin-top: 6rem;
    margin-left: -12.75rem;
}
.Email{
    margin-top: 8rem;
    margin-left: -18.25rem;
}
.Cellphone{
    margin-top: 10rem;
    margin-left: -14.5rem;
}
.Other{
    font-family: "Lombax";
    margin-top: 13rem;
    margin-left: -18rem;
}
fieldset{
    width: 35%;
    height: 50%;
}