<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">
        
        <!-- title of site -->
        <title>Portfolio</title>
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="../static/bootstrap.min.css">
        <link rel="stylesheet" href="../static/index.css">
        <!--style.css-->
        <link rel="stylesheet" href="../static/style.css">

    </head>
	
	<body>
		<header class="main-head">
			<nav>
				<div class="left">
					<!-- <img src="../assets/pictures/logo.png" class="logomini"> -->
					<h1 class="title">
						Acceuil
					</h1>
				</div>
				<ul>
					<li><a href= "/index.html">Accueil</a></li>
					<li><a href= "/templates/profil.html">Profil</a></li>
					<li><a href= "/templates/exp.html">Experiences</a></li>
					<li><a href= "/Experience/Zamani/about.html">Blog</a></li>
					<li><a href= "https://github.com/SlayzerZ">Github</a></li>
					<li><a href= "https://www.linkedin.com/in/ibrahim-ari-malla-133497232">LinkedIn</a></li>
				</ul>
			</nav>
		</header>
		<!--experience start -->
		<section id="experience" class="experience">
			<div class="section-heading text-center">
				<h2>experience</h2>
			</div>
			<div class="container">
				<div class="experience-content">
						<div class="main-timeline">
							<ul>
								<li>
									<div class="single-timeline-box fix">
										<div class="row">
											<div class="col-md-5">
												<div class="experience-time text-right">
													<h2>Octobre 2023 - Present</h2>
													<h3>Ydays, GameArt : Madness</h3>
												</div><!--/.experience-time-->
											</div><!--/.col-->
											<div class="col-md-offset-1 col-md-5">
												<div class="timeline">
													<div class="timeline-content">
														<h4 class="title">
															<span><i class="fa fa-circle" aria-hidden="true"></i></span>
															Ynov Campus
														</h4>
														<h5>Lyon, France</h5>
														<p class="description">
															Base de Unreal Engine & Programmation Blueprint. 
														</p>
													</div><!--/.timeline-content-->
												</div><!--/.timeline-->
											</div><!--/.col-->
										</div>
									</div><!--/.single-timeline-box-->
								</li>

								<li>
									<div class="single-timeline-box fix">
										<div class="row">
											<div class="col-md-5">
												<div class="experience-time text-right">
													<h2>Octobre 2022 - Mai 2023</h2>
													<h3>Ydays, Certif : Sécurité</h3>
												</div><!--/.experience-time-->
											</div><!--/.col-->
											<div class="col-md-offset-1 col-md-5">
												<div class="timeline">
													<div class="timeline-content">
														<h4 class="title">
															<span><i class="fa fa-circle" aria-hidden="true"></i></span>
															Ynov Campus
														</h4>
														<h5>Lyon, France</h5>
														<p class="description">
															Recherches et rédaction de cours pour préparer à l'acquisition des certifs Comptia Sécurity+ et Comptia Pentest+. 
														</p>
													</div><!--/.timeline-content-->
												</div><!--/.timeline-->
											</div><!--/.col-->
										</div>
									</div><!--/.single-timeline-box-->
								</li>

								<li>
									<div class="single-timeline-box fix">
										<div class="row">
											<div class="col-md-5">
												<div class="experience-time text-right">
													<h2>Juillet 2020 - Septembre 2020</h2>
													<h3>Stage Maintenance</h3>
												</div><!--/.experience-time-->
											</div><!--/.col-->
											<div class="col-md-offset-1 col-md-5">
												<div class="timeline">
													<div class="timeline-content">
														<h4 class="title">
															<span><i class="fa fa-circle" aria-hidden="true"></i></span>
															Mell Plus Informatique
														</h4>
														<h5>Niamey, Niger</h5>
														<p class="description">
															 Réparation hardware & software et Relation client.
														</p>
													</div><!--/.timeline-content-->
												</div><!--/.timeline-->
											</div><!--/.col-->
										</div>
									</div><!--/.single-timeline-box-->
								</li>

							</ul>
						</div><!--.main-timeline-->
					</div><!--.experience-content-->
			</div>

		</section><!--/.experience-->
		<!--experience end -->
    </body>
	
</html>