<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href ="../static/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <header class="main-head">
        <nav>
            <div class="left">
                <!-- <img src="../assets/pictures/logo.png" class="logomini"> -->
                <h1 class="title">
                    Acceuil
                </h1>
            </div>
            <ul>
                <li><a href= "/">Accueil</a></li>
                <li><a href= "/profil">Profil</a></li>
                <li><a href= "https://github.com/SlayzerZ?tab=repositories">Github</a></li>
            </ul>
        </nav>
    </header>
    Ce portfolio est destiné à vous partager mes différents projets réalisés jusqu'à présent.
    <div class="summary"><h2>Sommaire :</h2>
    <ul></ul>
    </div>
    <h2 class="Tschool">Projet Scolaire :</h2>
    <div class="school"></div>
    <h2 class="Tpersonnal">Projet Personnel :</h2>
    <div class="personnal"></div>
</body>
</html>