<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href ="../static/profil.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <header class="main-head">
        <nav>
            <div class="left">
                <!-- <img src="../assets/pictures/logo.png" class="logomini"> -->
                <h1 class="title">
                    Profil
                </h1>
            </div>
            <ul>
                <li><a href= "./index.html">Accueil</a></li>
                <li><a href= "./profil.html">Profil</a></li>
                <li><a href= "https://github.com/SlayzerZ?tab=repositories">Github</a></li>
            </ul>
        </nav>
    </header>
<div class="profil">
    <fieldset>
        <img src="../assets/pictures/profil.jpg" class="photo">
        <div class="infos1">
        <p1 class="FirstName">Nom : Ari Malla</p1>
        <p2 class="LastName">Prénom : Ibrahim</p2> 
        <p3 class="Birthdate">Date de Naissance : 17/06/2001</p3>
        <p4 class="EstablishName">Etablissement : Lyon Ynov Campus - B1 Info</p4>
        <p5 class="Email">Email : ibrahimallari84@gmail.com</p5>
        <p6 class="Cellphone">Téléphone : +33 625957705</p6>
        <p6 class="Other">Think positively<br> and life will always has meaning</p6>
    </div>
    </fieldset>  
    <div class="infos2">
        Je suis étudiant en 1re année.<br> J'aime La culture geek, la technologie et la photographie
    </div>
    <div class="col-twelve">

        <div class="timeline-wrap">

            <div class="timeline-block">

                <div class="timeline-ico">
                    <i class="fa fa-briefcase"></i>
                </div>

                <div class="timeline-header">
                    <h3>Bachelor Informatique</h3>
                    <p>Septembre 2022 - Present</p>
                </div>

                <div class="timeline-content">
                    <h4>Ynov Campus | Lyon-France</h4>
                    <p>Découvrez dès à présent l’univers dans lequel vous allez vivre une expérience transformatrice. Une aventure au cours de laquelle vous serez à la fois, stimulé, mis au défi, coaché et accompagné pour vous surpasser et exploiter votre potentiel.<br>
                        Un parcours en 3 ans avec 2 années initiales durant lesquelles vous allez acquérir les bases indispensables de l’informatique d’aujourd’hui.</p>
                </div>

            </div> <!-- /timeline-block -->

            <div class="timeline-block">

                <div class="timeline-ico">
                    <i class="fa fa-briefcase"></i>
                </div>

                <div class="timeline-header">
                    <h3>International Baccalaureat</h3>
                    <p>Septembre 2018 - Novembre 2021</p>
                </div>

                <div class="timeline-content">
                    <h4>Lycée Enoch Olinga | Niamey-Niger</h4>
                    <p>Le programme d’études est constitué de six groupes de matières et du tronc commun.<br> Ce dernier comprend la théorie de la connaissance (TdC), le programme créativité, action, service (CAS), et le mémoire.<br>
                        Grâce au tronc commun du Programme du diplôme, les élèves réfléchissent sur la nature de la connaissance, accomplissent une recherche indépendante et réalisent un projet qui implique souvent un service communautaire.</p>
                </div>

            </div> <!-- /timeline-block -->

            <div class="timeline-block">

                <div class="timeline-ico">
                    <i class="fa fa-briefcase"></i>
                </div>

                <div class="timeline-header">
                    <h3>Brevet des collège</h3>
                    <p>Septembre 2013 - Juin 2017</p>
                </div>

                <div class="timeline-content">
                    <h4>Lycée Français La Fontaine | Niamey-Niger</h4>
                    <p>Le socle commun de connaissances, de compétences et de culture présente ce que tout élève doit savoir et maîtriser à la fin de la scolarité obligatoire.<br>
                        Il rassemble l'ensemble des connaissances, compétences, valeurs et attitudes nécessaires pour réussir sa scolarité, sa vie d'individu et de futur citoyen.</p>
                </div>

            </div> <!-- /timeline-block -->

        </div> <!-- /timeline-wrap -->   			

    </div>
</div>
<div class="skills">
    <div class="Hard">
        <h2>Hard Skills</h2>
    <ul class="skill-bars">
        <li>
            <div class="progress percent90"><span>90%</span></div>
            <strong>HTML5</strong>
        </li>
        <li>
            <div class="progress percent35"><span>35%</span></div>
            <strong>CSS3</strong>
        </li>
        <li>
            <div class="progress percent50"><span>50%</span></div>
            <strong>JavaScript</strong>
        </li>
        <li>
            <div class="progress percent40"><span>40%</span></div>
            <strong>Java</strong>
        </li>
        <li>
            <div class="progress percent75"><span>75%</span></div>
            <strong>Golang</strong>
        </li>
        <li>
            <div class="progress percent30"><span>30%</span></div>
            <strong>C#</strong>
        </li>
        <li>
            <div class="progress percent60"><span>60%</span></div>
            <strong>Unity 2D</strong>
        </li>
        <li>
            <div class="progress percent40"><span>40%</span></div>
            <strong>Unity 3D</strong>
        </li>
     </ul>
    </div>
    <div class="Soft">
        <fieldset>
        <h2>Soft Skills</h2>
        <ul>
            <li>Créativité</li>
            <li>Calme</li>
            <li>Optimiste</li>
            <li>Confiant</li>
            <li>Adaptation Rapide</li>
            <li>Curieux</li>
            <li>Persévérant</li>
        </ul>
    </fieldset>
    </div>
</div>
<script src="../portfolio/profil.js"></script>
</body>
</html>