<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href ="../static/profil.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <header class="main-head">
        <nav>
            <div class="left">
                <!-- <img src="../assets/pictures/logo.png" class="logomini"> -->
                <h1 class="title">
                    Profil
                </h1>
            </div>
            <ul>
                <li><a href= "/">Accueil</a></li>
                <li><a href= "/profil">Profil</a></li>
                <li><a href= "https://github.com/SlayzerZ?tab=repositories">Github</a></li>
            </ul>
        </nav>
    </header>
<div class="profil1">
    <fieldset>
        <img src="../assets/pictures/profil.jpg" class="photo">
        <div class="infos1">
        <p1 class="FirstName">Nom : Ari Malla</p1>
        <p2 class="LastName">Prénom : Ibrahim</p2> 
        <p3 class="Birthdate">Date de Naissance : 17/06/2001</p3>
        <p4 class="EstablishName">Etablissement : Lyon Ynov Campus - B1 Info</p4>
        <p5 class="Email">Email : ibrahimallari84@gmail.com</p5>
        <p6 class="Cellphone">Téléphone : +33 625957705</p6>
    </div>
    </fieldset>   
</div>
</body>
</html>